In [66]:
#Task No. 0 :  Scale your homework 1 dataset, housing dataset and apply linear regression

In [134]:
import numpy as np
import matplotlib.pyplot as plt 
import pandas as pd  
import seaborn as sns 
from sklearn.datasets import fetch_openml

In [135]:
from sklearn.datasets import load_boston
from sklearn.datasets import fetch_openml

housing = fetch_openml(name="house_prices", as_frame=True)

In [136]:
print(housing.keys()) #shows the available outputs.

dict_keys(['data', 'target', 'frame', 'categories', 'feature_names', 'target_names', 'DESCR', 'details', 'url'])

In [137]:
#make a dataframe from the given data
housing_df = pd.DataFrame(housing.data, columns=housing.feature_names)
housing_df.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1.0,60.0,RL,65.0,8450.0,Pave,None,Reg,Lvl,AllPub,...,0.0,0.0,None,None,None,0.0,2.0,2008.0,WD,Normal
1,2.0,20.0,RL,80.0,9600.0,Pave,None,Reg,Lvl,AllPub,...,0.0,0.0,None,None,None,0.0,5.0,2007.0,WD,Normal
2,3.0,60.0,RL,68.0,11250.0,Pave,None,IR1,Lvl,AllPub,...,0.0,0.0,None,None,None,0.0,9.0,2008.0,WD,Normal
3,4.0,70.0,RL,60.0,9550.0,Pave,None,IR1,Lvl,AllPub,...,0.0,0.0,None,None,None,0.0,2.0,2006.0,WD,Abnorml
4,5.0,60.0,RL,84.0,14260.0,Pave,None,IR1,Lvl,AllPub,...,0.0,0.0,None,None,None,0.0,12.0,2008.0,WD,Normal

In [138]:
#add target value to the dataset
housing_df['price'] = housing.target

In [185]:
housing_df = housing_df.dropna(1)

C:\Users\Farhan\AppData\Local\Temp\ipykernel_9844\3428467819.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.dropna will be keyword-only.
  housing_df = housing_df.dropna(1)

In [140]:
#housing_df.isna().values.any()
#housing_df.isnull().values.any()
#housing_df = housing_df.dropna()
print(housing_df.isnull().values.any())

False

In [147]:
#dividing into  X and Y

X = pd.DataFrame(np.c_[housing_df['OverallQual'], housing_df['YearRemodAdd']], columns = ['OverallQual','YearRemodAdd'])
y = housing_df['price']

print(X.dtypes)
print(y.dtypes)

OverallQual     float64
YearRemodAdd    float64
dtype: object
float64

In [148]:
#dividing into test and train 

from sklearn.model_selection import train_test_split

X_train, X_test, Y_train, Y_test = train_test_split(X, y, test_size = 0.2, random_state=5)
print(X_train.shape)
print(X_test.shape)
print(Y_train.shape)
print(Y_test.shape)

(1168, 2)
(292, 2)
(1168,)
(292,)

In [149]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
sc.fit(X_train)
xtrainsc = sc.transform(X_train)
xtestsc = sc.transform(X_test)

In [150]:
#training and testing model

from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

lin_model = LinearRegression()
lin_model.fit(xtrainsc, Y_train)
score_lr = lin_model.score(xtestsc, Y_test)
score_lr

0.6316161904212326

In [151]:
from sklearn.metrics import r2_score
# model evaluation for training set
y_train_predict = lin_model.predict(xtrainsc)
testPred = lin_model.predict(xtestsc)
rmse = (np.sqrt(mean_squared_error(Y_train, y_train_predict)))
r2 = r2_score(Y_train, y_train_predict)

print("The model performance for training set")
print("--------------------------------------")
print('RMSE is {}'.format(rmse))
print('R2 score is {}'.format(r2))
print("\n")

# model evaluation for testing set
y_test_predict = lin_model.predict(xtestsc)
rmse = (mean_squared_error(Y_test, y_test_predict))
r2 = r2_score(Y_test, y_test_predict)

print("The model performance for testing set")
print("--------------------------------------")
print('RMSE is {}'.format(rmse))
print('R2 score is {}'.format(r2))

The model performance for training set
--------------------------------------
RMSE is 47915.51889430781
R2 score is 0.6332465144241337


The model performance for testing set
--------------------------------------
RMSE is 2390813354.9620624
R2 score is 0.6316161904212326

In [152]:
#Task No. 1 : Implementing K nearest neighbors Regression to the housing dataset along with Scaling (Standard Scaler and MinMax)

In [153]:
#Using Standard Scaler
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
sc.fit(X_train)
xtrainsc = sc.transform(X_train)
xtestsc = sc.transform(X_test)

In [154]:
from sklearn.neighbors import KNeighborsRegressor
knn_model = KNeighborsRegressor(n_neighbors=5).fit(xtrainsc, Y_train)
score_knn = knn_model.score(xtestsc, Y_test)
score_knn

0.6506771810819428

In [155]:
#Using Min Max Scaler
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
xtrainsc = scaler.fit_transform(X_train)
xtestsc  = scaler.fit_transform(X_test)

In [156]:
from sklearn.neighbors import KNeighborsRegressor
knn_model = KNeighborsRegressor(n_neighbors=5).fit(xtrainsc, Y_train)
score_knn = knn_model.score(xtestsc, Y_test)
score_knn

0.5992666744536177

In [157]:
preds = knn_model.predict(xtestsc)
performance = pd.DataFrame({ 'True Value': Y_test,
                            'Prediction': preds,
                            'Error': Y_test - preds})
performance[:10]

      True Value  Prediction     Error
756     212000.0    332830.4 -120830.4
923     193000.0    194900.0   -1900.0
1423    274970.0    157280.0  117690.0
217     107000.0     98000.0    9000.0
653     135000.0    167140.0  -32140.0
236     185500.0    203870.4  -18370.4
689     194700.0    160986.4   33713.6
601     141000.0    114800.0   26200.0
34      277500.0    414232.2 -136732.2
1419    223000.0    176180.0   46820.0

In [158]:
#Task No. 2 :  implementing KNN Regression on the dataset for first homework with scaling.

In [159]:
df=pd.read_excel('C:/Users/Farhan/Documents/datatab.xlsx')
df.head()

   Gender  Salary  Age     Place  Weight Company Academic degree
0  Female    1500   33   Chicago    80.0     BMW        Bachelor
1  Female    1200   33   Chicago    82.5    Ford              No
2    Male    2200   34  New York   100.8     BMW        Bachelor
3    Male    2100   42  New York    90.0     BMW          Master
4  Female    1500   29   Chicago    67.0    Ford          Master

In [160]:
x=df.drop(['Gender','Age','Place','Company','Academic degree'],axis=1).values
y=df['Age'].values

In [171]:
xtrain,xtest,ytrain,ytest = train_test_split(x,y,  test_size= .15)
print(xtrain.shape,xtest.shape,ytrain.shape,ytest.shape)

(10, 2) (2, 2) (10,) (2,)

In [172]:
scaler = MinMaxScaler()
xtrainmm = scaler.fit_transform(xtrain)
xtestmm  = scaler.fit_transform(xtest)

In [183]:
knn_model = KNeighborsRegressor(n_neighbors=3).fit(xtrainmm, ytrain)
score_knn = knn_model.score(xtestmm, ytest)
score_knn

0.5084876543209877

In [184]:
preds = knn_model.predict(xtestmm)
performance = pd.DataFrame({ 'True Value': ytest,
                            'Prediction': preds,
                            'Error': ytest - preds})
performance[:10]

   True Value  Prediction      Error
0          55   43.333333  11.666667
1          31   33.333333  -2.333333